@charset "UTF-8";

/*.tieude {*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	width: 70%; */
/*	font-size: 20px;*/
/*}*/

.tieude {
	resize: unset;
	font-size: 20px;
	font-weight: 600;
	height: 25px;
	width: 70%;

}

/*. textarea {*/
/*	resize: unset;*/
/*	font-size: 20px;*/
/*	font-weight: 600;*/
/*	height: 25px;*/
/*	width: 70%;*/


/*}*/
.hidden-input {
  display: none;
}  
.moTa {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 70%;
	font-size: 20px;
}

.div textarea {
	resize: unset;
	font-size: 20px;

}

.img {
	display: flex;

	flex-direction: column;
	height: fit-content;
	border: 1px solid;
}

img {
	/*	min-width: 100px;*/
	/*	min-height: 100px;*/
	max-width: 80%;
	/*	max-height: 100%;*/
	margin: auto;

}

.img button {
	width: max-content;
	font-size: 30px;
	padding: 5px 10px 5px 10px;
	margin: auto;
}

.img input {
	width: max-content;
	font-size: 30px;
	padding: 5px 10px 5px 10px;
	margin: auto;
}

.noiDung {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 70%;
	font-size: 20px;
}

.ul {
	display: flex;
	flex-direction: column;
	padding-left: 5px;
}

.ul a {
	text-decoration: none;
}

.li {
	display: inline-flex;
	position: absolute;
	top: 65%;
	left: 20%;
	min-width: 60%;
	justify-content: space-between;
	list-style: none;
	display: none;
	z-index: 1;
}

input[type="radio"]:checked+.li {
	display: inline-flex;
}

.uls {
	display: inline-flex;
	width: 95%;
	margin: auto;
	justify-content: space-between;

	font-size: 20px; 
}

.div {
	width: 70%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
}

.theloaiitem {
	margin: auto;

	width: 100%;
	position: relative;
	display: grid;
	padding-bottom: 50px;
	border: 1px solid gray;

}

.div label {
	font-size: 30px;
}

.divBtn {
	width: 100%;

}

.divBtn button {
	width: max-content;
	font-size: 30px;
/*	margin-left: 50%;*/
}

.button {
	display: block;
	width: max-content;
	margin: auto;
	font-size: 25px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: #932048e8;
	color: #fff; 
	border: none;
	padding: 5px;
}