@charset "UTF-8";

.body {
	display: flex;
	width: 80%;
	justify-content: space-between;
	font-size: 30px;
	margin: auto;
	flex-wrap: wrap;

}

.content {
	width: 45%;
	margin: auto;
}
td{
	width: 50%;
}
@media ( max-width : 1060px) {
	.body {
		flex-direction: column /* Ẩn khi màn hình có chiều rộng tối đa là 1060px */
	}
	.content{
		width: 100%;
	}
}
.line {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 20px;
}

input {
	font-size: 16px;
	width: 100%;
	height: 30px;

}


/*input {*/
/*	font-size: 16px; */
/*	width: 60%;*/
/*}*/

.check {
	width: max-content;
	margin: auto;
	font-size: 30px;
	/*	text-align: center;*/
	margin-top: 30px;
}

.check input {
	margin-right: 10px;
	height: 20px;
	/* Kích thước chiều cao của checkbox */
	width: 20px;
	/* Kích thước chiều rộng của checkbox */
	background-color: #eee;
	border: 1px solid #ccc;
}

table {

	width: 100%;
}

tr {
	margin: 10px 2px 10px 2px;
}


.button {
	width: 30%;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	margin: auto;
	margin-top: 5%;

}

/*.button button {*/
/*	height: 35px;*/
/*	width: 150px;*/
/*	font-size: 20px;*/
/*	margin-top: 50px;*/

/*}*/

h1 {
	margin: auto;
	width: max-content;
	text-align: center;
	font-size: 60px;
}

h2,
label {
	text-wrap: nowrap;
	width: max-content;

}

form {
	margin: 20px;
	/*	border: 1px solid;*/
	/*	width:max-content; */
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #363628ed;
	color: #fff;

}
.margin-a{
	margin: auto;
}
.thongBao{
	color: red;
	align-items: center;
	width: max-content;
	margin: auto;
	margin-top: 20px;
	
}
.thongBao label{
	font-size: 40px; 
	font-weight: 600;
}
.error {
	width: max-content;
	color: red;
	font-weight: 600;
	margin: auto;
	margin-top: 4%;
}

.error label {
	font-size: 40px;
}