@charset "UTF-8";

html {
	font-size: 62.5%;
	/* 10px -> 1em = 10px*/
	line-height: 1.6em;
	font-family: 'Roboto', sans-serif;
	/* sans-serif: là chủng không có chân */
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
	/* inherit: kết thừa lại box-sizing của những thẻ chứa nó */
}

/* Responsive */
.grid {
	width: 1200px;
	max-width: 100%;
	/* đối với những màn hình có size >= 1200 thì width=1200, những màn hình size < 1200 thì 
    lấy size của màn hình đó */
	margin: 0 auto;

}

.card-img,
.card-img-bottom {
	width: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

}

.grid__full-width {
	width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	/*	margin-left: -5px;*/
	/*	margin-right: -5px;*/


}

/* test */

.col-lg-2 {
	flex: 0 0 auto;
	padding-left: 5px;
	padding-right: 5px;
	width: 16.667%;
}

.grid__column-2-4 {
	padding-left: 5px;
	padding-right: 5px;
	width: 20%;
}

.col-lg-3 {
	flex: 0 0 auto;
	width: 20%;
}

.col-lg-6 {
	flex: 0 0 auto;
	width: 50%;
}

.col-lg-7 {
	padding-left: 5px;
	padding-right: 5px;
	flex: 0 0 auto;
	width: 58.33333333%;

}

.col-md-4 {
	flex: 0 0 auto;
	width: 33.33333333%;
}

.col-md-8 {
	flex: 0 0 auto;
	width: 66.66666667%;
}

.col-lg-10 {
	padding-left: 5px;
	padding-right: 5px;
	width: 83.3334%;
}

.col-lg-12 {
	flex: 0 0 auto;
	width: 100%;
}

.col-md-12 {
	flex: 0 0 auto;
	width: 100%;
}

.nav {
	padding: 5px 15px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
	background-color: #932048e8;
	border: 1px solid;
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	position: relative;
	display: flex;
}

.nav a {
	text-decoration: none;
	color: white;
}

.nav-item {
	padding: 10px;
	width: max-content;
	position: relative;
}

.nav-item:hover .nav-itemlist {
	display: block;
}

.nav-itemlist {
	position: absolute;
	display: none;
	width: max-content;
	border: 1px solid;
	border-color: gray;
	background-color: #932048e8;
	border-radius: 5px;
	margin-top: 10px;
	z-index: 1;
}

.nav-itemlist a {
	text-decoration: none;
	color: white;
}

li {
	list-style: none;
	margin-bottom: 10px;
}

ul {
	padding-left: 15px;
	padding-right: 30px;
}

.text-danger {
	color: red;
}

.mt-15 {
	margin-top: 15px;

}

.border {
	border: 1px solid #dee2e6;
	border-radius: 5px;
	;
}

.h-100 {
	height: 100%;

}

.list-group {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	border-radius: 5px;
}

.list-group-item {
	position: relative;
	display: block;
	padding: 5px 10px;
	color: #212529;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #dee2e6;
	font-size: 15px;
}

.container {
	margin: auto;
	margin-top: 25px;
	max-width: 90%;
}

.card {

	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	/*	height: 200px;*/
	color: #212529;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.175);
	border-radius: 5px;
}

.card-body {
	flex: 1 1 auto;
	padding: 10px 10px;
	/*    color: var(--bs-card-color);*/
}



.card-img-3 {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/*	margin-left:5%;*/

}

h5 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 600;
	line-height: 1.2;
	font-size: 20px;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.card-text {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	/* Số lượng dòng tối đa */
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 20px;
	line-height: 1.2;
	/*    height: 95px;*/
	white-space: normal;

}

.mlr-5 {
	margin-left: 5px;
	margin-right: 5px;
}