@charset "UTF-8";

html {
	font-size: 62.5%;
	/* 10px -> 1em = 10px*/
	line-height: 1.6em;
	font-family: 'Roboto', sans-serif;
	/* sans-serif: là chủng không có chân */
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: black; 
}
.main-color{
	color: black;
	
	}
* {
	box-sizing: inherit;
	/* inherit: kết thừa lại box-sizing của những thẻ chứa nó */
}

/* Responsive */
.grid {
	width: 1200px;
	max-width: 100%;
	/* đối với những màn hình có size >= 1200 thì width=1200, những màn hình size < 1200 thì 
    lấy size của màn hình đó */
	margin: 0 auto;

}

.card-img,
.card-img-bottom {
	width: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

}

.grid__full-width {
	width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	/*	margin-left: -5px;*/
	/*	margin-right: -5px;*/


}

/* test */

.col-lg-2 {
	flex: 0 0 auto;
	padding-left: 5px;
	padding-right: 5px;
	width: 16.667%;
}

.grid__column-2-4 {
	padding-left: 5px;
	padding-right: 5px;
	width: 20%;
}

.col-lg-3 {
	flex: 0 0 auto;
	width: 20%;
}

.col-lg-6 {
	flex: 0 0 auto;
	width: 50%;
}

.col-lg-7 {
	padding-left: 5px;
	padding-right: 5px;
	flex: 0 0 auto;
	width: 58.33333333%;

}

.col-md-4 {
	flex: 0 0 auto;
	width: 33.33333333%;
}

.col-md-8 {
	flex: 0 0 auto;
	width: 66.66666667%;
}

.col-lg-4 {
	flex: 0 0 auto;
	width: 30%;
}

.col-lg-8 {
	flex: 0 0 auto;
	width: 65%;
}

.space {
	justify-content: space-between;
}

.col-lg-10 {
	padding-left: 5px;
	padding-right: 5px;
	width: 83.3334%;
}

.col-lg-12 {
	flex: 0 0 auto;
	width: 100%;
}

.col-md-12 {
	flex: 0 0 auto;
	width: 100%;
}

.nav {
	padding: 5px 15px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
	background-color: #932048e8;
	border: 1px solid;
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	position: relative;
	display: flex;
}

.nav a {
	text-decoration: none;
	color: white;
}

.nav-item {
	padding: 10px;
	width: max-content;
	position: relative;
}

.nav-item:hover .nav-itemlist {
	display: block;
}

.nav-itemlist {
	position: absolute;
	display: none;
	width: max-content;
	border: 1px solid;
	border-color: gray;
	background-color: #932048e8;
	border-radius: 5px;
	margin-top: 10px;
	z-index: 1;
}

.nav-itemlist a {
	text-decoration: none;
	color: white;
}

li {
	list-style: none;
	margin-bottom: 10px;
}

ul {
	padding-left: 15px;
	padding-right: 30px;
}

.text-danger {
	color: red;
}
 
.mt-15 {
	margin-top: 15px;

}
.mt-30 {
	margin-top: 30px;

}
.mb-30{ 
	margin-bottom: 30px;
}
.border {
	border: 1px solid #dee2e6;
	border-radius: 5px;
	;
} 

.h-100 {
	height: 100%;

}

.list-group {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	border-radius: 5px;
	position: sticky;
	top: 50px;  
}

.list-group-item {
	position: relative;
	display: block;
	padding: 5px 10px;
	color: #212529;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #dee2e6;
	font-size: 15px;
}

.container {
	margin: auto;
	margin-top: 25px;
	max-width: 90%;
}

.card {

	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	/*	height: 200px;*/
	color: #212529;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.175);
	border-radius: 5px;
}

.card-body {
	flex: 1 1 auto;
	padding: 10px 10px;
	/*    color: var(--bs-card-color);*/
}



.card-img-3 {
	display: block;
	margin: auto;
	max-height: 250px;
	max-width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px; 
	/*	margin-left:5%;*/

}

h5 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 600;
	line-height: 1.2;
	font-size: 20px;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.card-text {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	/* Số lượng dòng tối đa */
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 20px;
	line-height: 1.2;
	/*    height: 95px;*/
	white-space: normal;

}

.mlr-5 {
	margin-left: 5px;
	margin-right: 5px;
}

.ml-5 {
	margin-left: 5px;
}

.dateTime {
	display: flex;
	color: #00000091;
	font-size: 15px;
	justify-content: flex-end;

}

.w-80 {
	width: 80%;
	margin: auto;
}
.w-50{
	width: 50%;
}
.ml-25{
	margin-left: 25%;
}
.w-maxcontent{
	width: max-content;
}
.center {
	display: -webkit-box;
	font-size: 17px;
	width: 80%;
	margin: auto;
	-webkit-line-clamp: 3;
	/* Số lượng dòng tối đa */
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.title {
	margin: 10px 0;
}

.title label {
	font-size: 30px;
	font-weight: 600;
	line-height: 35px;
}
.text-center{
	display: block;
	text-align: center;
}
.descrip,
.content {
	margin: 10px 0;
}

.descrip label {
	white-space: pre-line;
	font-size: 20px;
	line-height: 23px;
}

.content label {
	white-space: pre-line;
	font-size: 20px;
	line-height: 23px;
}

.comment {
	display: flex;
	flex-direction: column;
	border: 1px solid #dee2e6;
	margin: 20px 0;
}

.comment button {
	display: block;
	width: max-content;
	margin: auto;
	font-size: 25px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: #932048e8;
	color: #fff;
	border: none;
	padding: 5px;
}

.comment textarea {
	display: block;
	width: 95%;
	margin: auto;
	resize: unset;
}

.comment h3 {
	font-size: 25px;
}

.sticky {
	position: sticky;
	top: 35px;
}

.keyword {
	display: block;
	font-size: 30px;
	font-weight: 600;
	margin: 30px 0;
}

.find-title {
	font-size: 30px;
	line-height: 33px;

}

.line-2{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	/* Số lượng dòng tối đa */
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.find-descrip {
	display: -webkit-box;
	font-size: 20px;
	margin-top: 10px;
	line-height: 22px;
	-webkit-line-clamp: 5;
	/* Số lượng dòng tối đa */
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.line-3{
	display: -webkit-box;
	-webkit-line-clamp: 3;
	/* Số lượng dòng tối đa */
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.font-22{
	font-size: 22px;
	line-height: 24px;
}
.font-18{
	font-size: 18px;
	line-height: 18px;
}
.mg-a {
	margin: auto;
}
.mb-10{
	margin-bottom: 10px ;
}
.m-5{
	margin: 5px ;
}
.mtb-10{
	margin: 10px 0;
}
hr {
	margin: 20px 0;
}
.btn {
	 display: inline-block;
	 width: max-content ;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;  
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #363628ed;
        color: #fff;

}
.flex{
	display: flex; 
}
.button {
	
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	margin: auto;

} 
.bl{
	border-left: 1px solid #dee2e6;
}
.br{
	border-right: 1px solid #dee2e6;
}
.ma{
	margin: auto ;  
}
.fs-25{
	font-size: 25px;
}
.avt{
	margin: 10px 0	; 
	margin-right: 5%;
	margin-left: 10%;
}
.avt img{
	border:1px solid #dee2e6; 
	border-radius: 50%; 
	height: 150px;
	width: 150px;
	
}
.in4{
	width: max-content;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	flex-direction: column;
}
.in4-title{ 
	font-size: 40px;
	margin: 5px;
	font-weight: 600;
}
.in4-amt{
	font-size: 25px;
	margin-top:20px ; 
	margin-left:20px ;
	color:#333333ba;
}
.ul{
	font-size: 30px;
} 
.border-r{
	border-right:1px solid #dee2e6 ;
}
.border-t{
	border-top:1px solid #dee2e6 ;
}
.li{
	font-size: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
}
.h-max{
	height: max-content;  
}
.padding-10{
	padding: 10px ;
}
.list-news{
	height: 880px;
	overflow: auto;
}
/*up avt*/
.custom-file-input {
  position: relative;
}

.hidden-input {
  display: none;
}

.file-label {
  padding: 8px 12px;
/*  background-color: #f1f1f1;*/
  border-radius: 4px;
  cursor: pointer;
  
}

.selected-file {
  display: none;
  margin-top: 8px;
}
.avt-cmt img{
	display: block;
	width: 50px;
	height: 50px;
	border-radius:50% ;  
	margin: auto ;
}
.title-cmt{
	display: block;
	font-size: 25px;
	font-weight: 600;
}
.content-cmt{  
	margin: 5px 10px; 
	font-size: 18px;
	 
}
.date-cmt{
	display: block; 
	font-size: 15px; 
	color: #dee2e6;
	margin-right: 10%; 
}
.hidden-input:checked + .file-label + .selected-file {
  display: block;
}
.head-cmt{
	display: flex;
	justify-content: space-between;
}
.div-in4{
	display: flex;
	flex-direction: column;
	margin: 10px;
	
}
.div-in4 label{ 
	margin-top: 5px;
	font-size: 20px;
}
@media ( max-width : 800px) {
	.w-800{
	display: none;
	}
	.w-90{
		width:90%	}
}
@media ( max-width : 900px) {
	.container{
		max-width: 100%;
	}
}